SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_RECORD_QUERIES = True
FLASK_CONTEXT='testing'
TEST_DATABASE_URI='postgresql+psycopg2://postgres:contraseña@localhost:5432/test_sysacad'
DEV_DATABASE_URI='postgresql+psycopg2://postgres:contraseña@localhost:5432/dev_sysacad'
PROD_DATABASE_URI='postgresql://postgres:contraseña@localhost:5432/sysacad'
